[user]
	name = Ryan Finnie
	email = ryan@finnie.org

[include]
	path = ~/.gitconfig.local

#[commit]
#	gpgsign = 1

#[url "git+ssh://fo0bar@git.launchpad.net/"]
#	insteadof = lp:
#[url "git+ssh://git@github.com/"]
#	insteadof = https://github.com/
