# SPDX-PackageName: rf-tools
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/rf-tools
# SPDX-FileComment: git config
# SPDX-FileCopyrightText: © 2017 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0
[user]
	name = Ryan Finnie
	email = ryan@finnie.org

[init]
	defaultBranch = main

[alias]
	new = !git init && git symbolic-ref HEAD refs/heads/main
	touch = commit --amend --date=now --no-edit

[pull]
	rebase = true

[commit]
       verbose = true

[include]
	path = ~/.gitconfig.local
