# SPDX-PackageName: rf-tools
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/rf-tools
# SPDX-FileComment: nanorc
# SPDX-FileCopyrightText: © 2019 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

## Scroll the buffer contents per half-screen instead of per line.
set jumpyscrolling
## Needed for syntax highlighting on Homebrew's nano
include "/opt/homebrew/share/nano/*.nanorc"
